<header>
	<div class="brand"><a href="/"><img src="/img/logo.png" alt="Nacional móveis"></a></div>
	<nav>
		<span class="header_produtos">
			<label for="header_produtos-nav">Produtos</label>
			<input type="checkbox" id="header_produtos-nav">
			<div class="header_produtos-items">
				<a href="/produtos-salas/">Salas</a>
				<a href="/produtos-complementos/">Complementos</a>
				<a href="/produtos-estofados/">Estofados</a>
				<a href="/produtos-cadeiras/">Cadeiras</a>
			</div>
		</span>
		<a href="/acabamentos/">Acabamentos</a>
		<a href="/sobre/">Sobre nós</a>
		<a href="/contato/">Contato</a>
	</nav>
</header>