<header>
	<div class="brand"><a href="/"><img src="/img/logo.png" alt="Nacional móveis"></a></div>
	<nav>
		<label class="nav-mobile" for="mobile-nav">
			<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars" class="nav-mobile_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg> <p>Menu</p>
		</label>
		<input type="checkbox" id="mobile-nav">
		<div class="nav-item">
			<span class="header_produtos">
				<label for="header_produtos-nav">Produtos</label>
				<input type="checkbox" id="header_produtos-nav">
				<div class="header_produtos-items">
					<a href="/produtos-salas/">Salas</a>
					<a href="/produtos-complementos/">Complementos</a>
					<a href="/produtos-estofados/">Estofados</a>
					<a href="/produtos-cadeiras/">Cadeiras</a>
				</div>
			</span>
			<a href="/acabamentos/">Acabamentos</a>
			<a href="/sobre/">Sobre nós</a>
			<a href="/contato/">Contato</a>
		</div>
	</nav>
</header>