---
title: Acabamentos & Tecidos
layout: page
permalink: /acabamentos/
---

<div class="acab-list">
	<h2>Acabamentos</h2>

	{% for acab in site.data.acab %}
	{% if acab.cat contains "acab" %}
	
	<div class="acab-content_item">
	  <h3>{{ acab.title }}</h3>
		<img src="{{ site.img}}acabamentos/{{ acab.img }}" alt="">    
	</div>
	
	{% endif %}
	{% endfor %}

	<h2>Lâmina</h2>

	{% for acab in site.data.acab %}
	{% if acab.cat contains "lamina" %}
	
	<div class="acab-content_item">
	  <h3>{{ acab.title }}</h3>
	  <p>{{ acab.info }}</p>
		<img src="{{ site.img}}acabamentos/{{ acab.img }}" alt="">    
	</div>
	
	{% endif %}
	{% endfor %}

	<h2>Vidro ou Laca</h2>

	{% for acab in site.data.acab %}
	{% if acab.cat contains "vidro" %}
	
	<div class="acab-content_item">
	  <h3>{{ acab.title }}</h3>
		<img src="{{ site.img}}acabamentos/{{ acab.img }}" alt="">    
	</div>
	
	{% endif %}
	{% endfor %}

	<h2>Tecidos</h2>

	{% for acab in site.data.acab %}
	{% if acab.cat contains "tecido" %}
	
	<div class="acab-content_item">
	  <h3>{{ acab.title }}</h3>
	  <p>{{ acab.info }}</p>
		<img src="{{ site.img}}acabamentos/{{ acab.img }}" alt="">    
	</div>
	
	{% endif %}
	{% endfor %}

	
</div>