---
layout: default
---

<h1 class="page-category">{{ page.category }}</h1>

<div class="page-header">
	<h1 class="page-title"> {{ page.title }}</h1>
	
	<img src="{{ page.img }}" alt="">
</div>

<div class="post-content">
	{{ page.content }}
</div>

<div class="page-footer">
		<h2>Destaques</h2>
			{% for post in site.posts limit:3 %}	
			<div class="page-footer_destaque">
				<a href="{{ post.url }}">
					<img src="{{ post.img }}" alt="">
					<h3>{{ post.title }}</h3>
				</a>
			</div>
			{% endfor %}
	</div>