---
layout: default
---

<div class="produtos-category">
	<a class="icon-link" href="/produtos-{{ page.category }}/">
		<h1 class="page-category">{{ page.category }}</h1>
		<img src="../img/icon-{{ page.category }}.png" alt="">
	</a>
</div>

<div class="page-header">
	<h1 class="page-title"> {{ page.title }}</h1>
	
	<img src="{{ page.img }}" alt="">
</div>

<div class="produtos-content">
	{{ page.content }}
</div>

<div class="page-footer">
	<h2>Destaques</h2>
		{% for post in site.posts limit:3 %}	
		<div class="page-footer_destaque">
			<a href="{{ post.url }}">
				<img src="{{ post.img }}" alt="">
				<h3>{{ post.title }}</h3>
			</a>
		</div>
		{% endfor %}
</div>